:root {
    --r: #e49;
    --o: #f86;
    --y: #ff7;
    --g: #5b7;
    --b: #29b;

    --link: white;
}

html {
    font-family: system-ui;
    font-size: 14pt;

    background-color: black;
    color: white;
}

body {
    margin: 0;
}

nav {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border-bottom: white 1px solid;
}

footer {
    text-align: center;
    padding: 2rem;
    color: gray;
    border-top: white 1px solid;
    margin-top: 2rem;
}

main {
    max-width: 900px;
    padding: 1rem;
    margin: 0 auto;
}

a {
    color: var(--link);
    padding: .1rem;
}

a:hover {
    text-decoration: none;
    background-color: var(--link);
    color: black;
}

img,
iframe {
    max-width: 100%;
}

iframe {
    display: block;
    margin: 0 auto;
}

audio {
    width: 100%;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, auto));
    gap: 1rem;
}

article {
    min-height: 4rem;
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid white
}

figure {
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 2rem 0;
}

th,
td {
    padding: .5rem;
    border: #ffffff88 1px solid;
}

th {
    border-bottom: #ffffff88 3px solid;
}

tr:nth-child(even) {
    background-color: #ffffff11;
}
