:root {
    --r: #e49;
    --o: #f86;
    --y: #ff7;
    --g: #5b7;
    --b: #29b;

    --link: white;
}

html {
    font-family: system-ui;
    font-size: 14pt;

    background-color: black;
    color: white;
}

body {
    margin: 0;
}

nav {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border-bottom: white 1px solid;
}

main {
    max-width: 900px;
    padding: 1rem;
    margin: 0 auto;
}

a {
    color: var(--link);
    padding: .1rem;
}

a:hover {
    text-decoration: none;
    background-color: var(--link);
    color: black;
}

img,
iframe {
    max-width: 100%;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, auto));
    gap: 1rem;
}

article {
    min-height: 4rem;
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid white
}