<ul class="gallery">
  {% for post in site.posts %} {% if forloop.index < 7 %}
  <li style="background-image: url('{{ post.img }}')">
    <a href="{{ post.url | relative_url }}">
      <!-- <time><span>{{ post.date | date_to_long_string }}</span></time> -->
      <h3><span>{{ post.title }}</span></h3>
      <h5><span>{{ post.desc }}</span></h5>
    </a>
  </li>
  {% endif %} {% endfor %}
  <li style="background-image: url('/assets/img/music-avatar.png')">
    <a href="/music">
      <h3>MORE MUSIC</h3>
    </a>
  </li>
  <li style="background-image: url('/assets/img/programming.png')">
    <a href="/technology">
      <h3>MORE PROGRAMMING</h3>
    </a>
  </li>
</ul>
