@import 'feather-icons';
@import 'color';

$breakpoint-lg: 900px;
$breakpoint-sm: 600px;

@import 'pentagrama';
@import 'gallery';
@import 'list';
@import 'about';

html {
  background-color: $navy;
  font-family: 'Open Sans', sans-serif;
  color: $white;
  a {
    color: $yellow;
  }
  img {
    display: block;
    margin: 0 auto;
    max-width: $breakpoint-lg / 2;
    width: 100%;
  }
}

header figure {
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    gap: 1rem;
    text-decoration: none;
    transition: 0.5s;
    &:hover {
      opacity: 0.5;
    }
    h1,
    h2,
    h3 {
      margin: 0;
      font-weight: 500;
      @media (max-width: $breakpoint-lg) {
        text-align: center;
      }
    }
  }
  &.home a {
    gap: 3rem;
    @media (max-width: $breakpoint-lg) {
      flex-direction: column;
      gap: 0;
    }
  }

  a img {
    width: 3rem;
  }
  &.home a img {
    width: 8rem;
    @media (max-width: $breakpoint-lg) {
      width: 5rem;
    }
  }

  a div {
    h1 {
      font-size: 2rem;
      color: $white;
      span {
        font-weight: 100;
      }
    }
    h2,
    h3 {
      display: none;
    }
  }
  &.home a div {
    h1 {
      font-size: 4rem;
    }
    h2 {
      display: block;
      :nth-child(1) {
        color: $yellow;
      }
      :nth-child(2) {
        color: $red;
      }
      :nth-child(3) {
        color: $lime;
      }
    }
    h3 {
      display: block;
      color: $silver;
    }
  }
}

nav {
  max-width: $breakpoint-lg;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  a {
    text-decoration: none;
    &.current {
      text-decoration: underline;
    }
    transition: 0.5s;
    padding: 1rem;
    font-weight: bold;
    @media (max-width: $breakpoint-sm) {
      text-align: center;
      span {
        display: block;
      }
    }
    &:nth-child(1) {
      color: $yellow;
    }
    &:nth-child(2) {
      color: $lime;
    }
    &:nth-child(3) {
      color: $orange;
    }
    &:nth-child(4) {
      color: $teal;
    }
    &:hover {
      color: $blue;
    }
  }
}

section {
  padding: 1rem;
  h2 {
    display: block;
    margin: 2rem auto;
    padding: 0.5rem 1rem;
    max-width: max-content;
    font-style: italic;
    color: $navy;
    background-color: $yellow;
  }
}

article {
  max-width: $breakpoint-lg;
  margin: 0 auto;
  padding: 1rem;
}

img {
  max-width: 100%;
}

footer {
  border-top: 1px solid $maroon;
  img {
    width: 100%;
    max-width: $breakpoint-lg;
    // margin-bottom: 2rem;
  }
  color: $silver;
  padding: 2rem 0;
  text-align: center;
}
