.pentagrama {
  display: flex;
  flex-direction: column;
  div {
    border-bottom: 0.1rem solid;
    margin: 0.3rem 0;

    &:nth-child(1) {
      border-color: $red;
    }
    &:nth-child(2) {
      border-color: $yellow;
    }
    &:nth-child(3) {
      border-color: $lime;
    }
    &:nth-child(4) {
      border-color: $teal;
    }
    &:nth-child(5) {
      border-color: $fuchsia;
    }
  }
}
