---
layout: default
---

<section>
  <h2>recent projects</h2>

  <ul class="gallery">
    {% for post in site.posts %}
    <li>
      <a href="{{ post.url | relative_url }}">
        <span>{{ post.date | date_to_long_string }}</span>
        <h3>{{ post.title }}</h3>
      </a>
    </li>
    {% endfor %}
    <li>
      <a href="#">
        <h3>MORE PROJECTS</h3>
      </a>
    </li>
  </ul>
</section>

<section class="about">
  <article>
    <h2>about me</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam minus temporibus nulla odit necessitatibus,
      recusandae delectus saepe blanditiis cum a, magni quisquam nihil dolorum molestias sequi voluptatum tempora iste
      dignissimos!
    </p>
  </article>
</section>

<section></section>

<!-- 
<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%} {{ content }} {% if site.paginate %} {% assign posts = paginator.posts %} {% else %} {% assign posts =
  site.posts %} {% endif %} {%- if posts.size > 0 -%} {%- if page.list_title -%}
  <h2 class="post-list-heading">{{ page.list_title }}</h2>
  {%- endif -%}
  <ul class="post-list">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%} {%- for post in posts -%}
    <li>
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}"> {{ post.title | escape }} </a>
      </h3>
      {%- if site.show_excerpts -%} {{ post.excerpt }} {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>

  {% if site.paginate %}
  <div class="pager">
    <ul class="pagination">
      {%- if paginator.previous_page %}
      <li>
        <a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page"
          >{{ paginator.previous_page }}</a
        >
      </li>
      {%- else %}
      <li><div class="pager-edge">•</div></li>
      {%- endif %}
      <li><div class="current-page">{{ paginator.page }}</div></li>
      {%- if paginator.next_page %}
      <li>
        <a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a>
      </li>
      {%- else %}
      <li><div class="pager-edge">•</div></li>
      {%- endif %}
    </ul>
  </div>
  {%- endif %} {%- endif -%}
</div> -->
